<<<<<<< HEAD
.masonry-brick {
    margin: 1em;
}

.text-brick {
    width: 40%;
}


/*
* this is for rating
*/
ul.rating li {
    display: inline;
    border: 0px;
    background: none;
    padding: 0px;
}
ul.rating li i {
    font-size: 15px;
    color: orange;
}
.rating {
    display: inline;
}
ul.rating-media li i  {
    font-size: 20px;
    color: orange;
}

.center {
    text-align: center;
}

.intro{
    word-break: break-all
}
=======
/* Empty. Add your own CSS if you like */
>>>>>>> f83bf66fd505549d7f7046184b9f0b5e7b18b329
